.teal-nav {
    height: 91px;
    padding-top: 17px;
    background-color: #1ebea5;
    box-sizing: border-box;
    color: #fff;
    transition: background-color .5s ease;
    width: 100%;
}

.margin-body {
margin-top: 50px;
}

body {
    background-color: #d0c9c9;
}

.btn-dark {
    color: #343a40;
}