#nav-logo {
    height: 90px;
}

a {
    color: white;
}

.nav-link {
        background-color: transparent; 
        color: white; 
}


#profile-btn:hover {
    background-color: lightyellow;
    color: black;
    font-weight: bold;
}

.nav-link:hover {
    background-color: lightyellow;
    color: black;
    font-weight: bold;
}

.dropdown-item {
    background-color: lightyellow;
}
h1 {
    font-family: 'Neuton', serif;
    text-align: center;
    font-size: 36px;
    color:white;
}

.h1-register{
    color:black;
    text-align: center;

}

.h3-register{
    color: black;
    font-family: 'Muli', sans-serif;
    text-align: center;

}

body {
    background-image: url("http://happyapple.us/wp-content/uploads/2013/04/honeycomb.jpg");
    background-size: cover;
    font-family: 'Muli', sans-serif;
}

#group-1{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #333;
    color: white;
    padding: 50px;
    padding-bottom: 10px;
}
#register-white:hover {
    background-color: white;

    
}

p {
    text-align: center;
    font-size: 18px;
    color:white;
    font-family: 'Muli', sans-serif;
}

.bgimage {
    width:100%;
    height:400px;
    background: url('https://images.unsplash.com/photo-1542053755768-55960a1b88ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c038432f143f5a54eb09022cd6dfbdd&auto=format&fit=crop&w=1500&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }


.bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
  }
  

#white {
    color:white;
}

.pad-top{
    padding-top:30px;
    padding-bottom:30px;
}

.ErrorMsg {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin: 0px
}

.Emsg {
    color: red;
    font-weight: bold;
}


#join-hive {
    background: #333;
    color: white;
}

#value-id {
    background: #333;
    color: white;
}

#hivenum {
    background: #333;
    color: white;
}

#main-foot {
    background: #333;
    color: white;
}