img {
    vertical-align: middle;
    border-style: none;
    width: 200px;
    height: 200px;
    margin-left: 40px;
    
}

.jumbotron
{
    margin-top: -10px;
    background-color:blanchedalmond;
    
}

p
{
  margin-top: 0%; 
  text-align: center;
  font-weight: bold;
  background-color:royalblue;
  color: white;
  width: 200px;
  height: 25px;
  margin-left: 40px;
  vertical-align: middle;
}

h1
{
    
    color: royalblue;
}
<<<<<<< HEAD
button{
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    width: 100%
=======

.col-lg-5
{
    margin-left: 20px;
}
.meetup
{
   width:200px; 
>>>>>>> ad3029ec8becf76430734dc1f19eb30ae05fc62b
}