#nav-logo {
    height: 90px;
}

.nav-link {
        background-color: transparent; 
        color: white; 
}


#profile-btn:hover {
    background-color: lightyellow;
    color: black;
    font-weight: bold;
}

#profile-btn {
    border: 2px solid white;
}

.nav-link:hover {
    background-color: lightyellow;
    color: black;
    font-weight: bold;
}

.dropdown-item {
    background-color: lightyellow;
}

.logout1 {
    text-align: center;
}

.logout2 {
  font-family: 'Permanent Marker', cursive;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

#textbox {
    align-self: center;
    padding: 200px;
}

body {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/925922571447345889/8ACC006CE780C3E3E46C48C5D3E188883859A7D7/");
}
