#profile-btn {
    float: left;
   margin: 10px;
}

#settings-btn {
    float: left;
}

#nav-logo {
    height: 90px;
}

#img-card {
    padding: 125px;
    float: left;
    margin-right: 120px;
    margin-left: 60px;
}
.container {
    margin-top: 20px;
}
#profile-pic {
    max-width: 100%;
    border-radius: 1rem;
}
#place-image0, #place-image1, #place-image2 {
    max-width: 100%;
    border-radius: 0.5rem;
}

#about-me-card {
    float: right;
    padding: 90px;
    text-align: center;
}

#name-location {
    padding: auto;

}

#recommended-tab {
margin: 50px;
}

#restaurants {
    text-align: center;
    font-weight: bolder;
}